.main_container{
  margin-left: 0vw;
  margin-right: 0vw;
  background-color: lavender;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.fortune_container{
  text-align: center;
}
body{
  margin: 0px;
  font-family:Optima, sans-serif;
}
h1{
  font-size: 50px;
}
